* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	scrollbar-width: thin;
}

a {
	color: inherit;
	text-decoration: none;
}

::-moz-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #7476a2;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #3b3b46;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

.on {
	color: yellow;
}
.off {
	color: #3f3f6c;
}

.loader {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	display: block;
	margin: 15px auto;
	position: relative;
	background: #fff;
	box-shadow: -24px 0 #fff, 24px 0 #fff;
	box-sizing: border-box;
	animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
	33% {
		background: #fff;
		box-shadow: -24px 0 #aa33b5, 24px 0 #fff;
	}
	66% {
		background: #aa33b5;
		box-shadow: -24px 0 #fff, 24px 0 #fff;
	}
	100% {
		background: #fff;
		box-shadow: -24px 0 #fff, 24px 0 #aa33b5;
	}
}
